<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
    style="width: 100%; height: 100%;">
    
    <swiper-slide *ngFor="let introitem of introitems">
      <div class="slide-content ion-padding text-center">
        <h2 class="ion-margin-bottom">{{ introitem.title }}</h2>
        <img
          [src]="introitem.image"
          [alt]="introitem.title"
          class="intro-image ion-margin-bottom"
        />
        <p class="ion-margin-horizontal">{{ introitem.description }}</p>
        <ion-button
          *ngIf="introitem.showButton"
          expand="block"
          class="ion-margin-top"
          (click)="goBack()">
          Comenzar
        </ion-button>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>
