:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-content {
  --background: var(--background-color);
  flex: 1;
  padding: 16px;
  padding-bottom: 100px;
}

ion-toolbar {
  --background: var(--card-color);
  color: var(--texto-claro);
}

swiper-container {
  width: 100%;
  height: auto !important; 
  margin-bottom: 16px;
  display: block;
}

swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: stretch;
  height: auto !important; 
}

.slide-content {
  text-align: center;
  padding: 10px;
  color: inherit;
}

.slide-content img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

.slide-content p {
  font-size: 16px;
  margin: 0;
  color: inherit;
}

.footer-text {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.seccion-titulo {
  margin: 12px 0 4px;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
  }
}

.card-estilizada {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  overflow: visible;
}


.descripcion {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin-top: 15px;
  overflow: visible;
}


.genre-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6px; 
}

.genre-card-content img {
  width: 100px;    
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin: 8px 0;   
}

.genre-card-content p {
  font-size: 14px;  
  margin: 0;
  color: inherit;
}



