<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div [style.background-color]="colorActual" [style.color]="colorTextoActual">
    <ion-card 
  [style.background-color]="colorActual" 
  [style.color]="colorTextoActual" 
  [style.border]="'1px solid ' + bordeColor"
  style="margin: 0; border-radius: 8px;">

      <ion-card-header>
        <ion-card-title [style.color]="colorTextoActual">Los Generos Mas Populares</ion-card-title>
        <ion-card-subtitle>AppPCA</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
    style="width: 100%; height: 100%;"
    >
      <swiper-slide *ngFor="let genre of genres">
        <div class="slide-content" [style.background-color]="colorActual" [style.color]="colorTextoActual">
          <h2>{{ genre.title}}</h2>
          <img [src]="genre.image" [alt]="genre.title">
          <p>{{genre.description}}</p>
        </div>
      </swiper-slide>
    </swiper-container>
  <ion-button (click)="cambiarColor()">
    Cambia de tema
  </ion-button>

  <div>
    <ion-button (click)="inIntro()">Ir al intro</ion-button> 
  </div>

</div>
</ion-content>
