.slide-content {
  text-align: center;
  padding: 10%;
}

.slide-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px 0;
}

.slide-content h2 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;

}

.slide-content p {
  font-size: 17px;
  text-align: justify;
  margin: 0 10px; 
  color: inherit;
}

ion-card {
  background-color: var(--color-oscuro); 
  color: var(--texto-claro); 
}

ion-toolbar {
  --background: var(--card-color);
  color: var(--texto-claro);
}


.card {
  padding: var(--espaciado-grande);
  background-color: var(--color-claro);

}

.bg-card-test {
  background: var(--card-color);
  color: var(--texto-claro);
}


:host {
  display: block;
  color: var(--text-color);
}


.bg-card-test {
  background-color: var(--card-color);
}

ion-content {
  --background: var(--background-color); 
  color: inherit;
  --padding-bottom: 40px; 
}