<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="colorActual" [style.color]="colorTextoActual">
  <ion-card [style.--background]="colorActual" [style.color]="colorTextoActual" class="card-estilizada">
    <ion-text class="seccion-titulo">
      <h2 [style.color]="colorTextoActual">Géneros más populares</h2>
    </ion-text>

    <swiper-container pagination="true" loop="true" slides-per-view="1">
      <swiper-slide *ngFor="let genre of genres">
        <div class="genre-card-content">
          <h2 [style.color]="colorTextoActual">{{ genre.title }}</h2>
          <img [src]="genre.image" class="imagen-genre" />
          <p [style.color]="colorTextoActual" class="descripcion">{{ genre.description }}</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-card>



  <ion-text class="seccion-titulo">
    <h2 [style.color]="colorTextoActual">Álbumes</h2>
  </ion-text>

  <swiper-container pagination="true" loop="true" slides-per-view="3">
    <swiper-slide *ngFor="let album of albums" (click)="showSongs(album.id)">
      <div class="slide-content">
        <img [src]="album.image" />
        <p [style.color]="colorTextoActual">{{ album.name }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
  
  <ion-text class="seccion-titulo">
    <h2 [style.color]="colorTextoActual">Artistas</h2>
  </ion-text>

  <swiper-container pagination="true" loop="true" slides-per-view="3">
    <swiper-slide *ngFor="let artist of artists" (click)="showSongsByArtist(artist.id)">
      <div class="slide-content">
        <img [src]="artist.image" />
        <p [style.color]="colorTextoActual">{{ artist.name }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
  <ion-button expand="block" (click)="cambiarColor()">Cambiar tema</ion-button>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">{{formatTime(currentSong?.currentTime) || "0:00"}}</ion-col>
      <ion-col class="ion-text-end">{{formatTime(getRemainingTime()) || "0:00"}}</ion-col>
    </ion-row>
    <ion-progress-bar [value]="newTime || 0"></ion-progress-bar>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="heart"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>
          {{ song.name || "N/A" }}
        </ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" *ngIf="!song.playing" (click)="play()"></ion-icon>
        <ion-icon name="pause" *ngIf="song.playing" (click)="pause()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

